html,body{
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}


.appContainer{
    padding-left: 15px;
    padding-right: 15px;
}

.titleContainer h3{
    margin-top: 15px;
}

.addContainer{
    display: flex;
    align-items: center;
}

.btn-primary{
    margin-left: 15px;
}

.listContainer{
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.elementName{
    width: 100%;
    margin-left: 15px;
}

.checkboxElement{
    transform: scale(1.5);
    cursor: pointer;
}

.error{
    border: 1px solid red!important;
}